{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
	{% trans 'Movie' %}: {{ object.title }}
{% endblock %}

{% block content %}
<h3>{{ object.title }}</h3>
<div class="row">
  <div class="col-sm-12">
    <dl class="dl-horizontal">
		<dt>Title</dt><dd>{{ object.title }}</dd>
		<dt>Year</dt><dd>{{ object.year }}</dd>
		<dt>Rated</dt><dd>{{ object.rated }}</dd>
		<dt>Release</dt><dd>{{ object.released_on }}</dd>
		<dt>Genre</dt><dd>{{ object.genre }}</dd>
		<dt>Director</dt><dd>{{ object.director }}</dd>
		<dt>Plot</dt><dd>{{ object.plot }}</dd>
		<dt>Average Rating</dt><dd>{{ object.get_rating }}</dd>
    </dl>
  </div>
</div>
{% endblock %}
